@media (max-width: 950px){
  .product{
    .section-items{
      flex-wrap: wrap;
    }
  }
  .product__item{
    max-width: 950px;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .product__item-desc{
    max-width: 350px;
    margin: 0 20px;
  }
  .popular{
    &-item{
      max-width: 400px;
      width: 100%;
      margin-bottom: 20px;
    }
    .section-items{
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .service{
    .section-items{
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
@media (max-width: 700px){
  .product__item{
    .product__img{
      display: none;
    }
    .product__item-desc{
      margin: 0 20px 0 0;
    }
  }
}
@media (max-width: 630px){
  .service-item{
    & + &{
      margin-top: 10px;
    }
  }
}
@media (max-width: 660px){
  .logo-mobile{
    display: block;
  }
  .main-logo{
    display: none;
  }
  .advantage{
    .section-items{
      flex-wrap: wrap;
    }
  }
  .advantage__item{
    max-width: 630px;
    display: flex;
    & + &{
      margin-top: 20px;
    }
    &-img{
      margin-right: 20px;
    }
  }
}
@media (max-width: 550px){
  .header__inner{
    flex-wrap: wrap;
    padding-top: 10px;
  }
  .header .take-call{
    max-width: 450px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .header__menu-wrapper{
    position: fixed;
    top: 122px;
    right: 0;
    left: auto;
    max-width: 120px;
    transform: none;
    &__menu{
      
    }
    ul{
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10px;
      padding-right: 10px;
    }
    li{
      display: block;
      padding: 15px 0;
      width: 100%;
      & + li{
        border-top: 1px solid #000;
      }
      a{
        font-size: 10px;
      }
    }
  }
  .title{
    font-size: 25px;
  }
}
@media (max-width: 460px){
  .footer__inner{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    .header__call{
      text-align: center;
    }
    .footer_right{
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 420px){
  .title{
    max-width: 100px;
  }
  .product__item{
    flex-direction: column;
    .product__img{
      display: block;
    }
    .mobile-cont--desc{
      margin-bottom: 10px;
      max-width: 100%;
    }
  }
  .contact__table{
    padding-right: 40px;
    padding-left: 35px;
  }
}
@media (max-width: 380px){
  .header__logo,
  .header__call{
    width: 100%;
    text-align: center;
    
  }
  .header__logo{
    order: 1;
  }  
  .header .take-call{
    order: 2;
    margin: 10px 0;
  }
  .header__call{
    order: 3
  }
  .header__menu-wrapper{
    top: 155px;
  }
  .intro__links{
    flex-wrap: wrap;
    a{
      width: 100%;
      text-align: center;
    }
    span{
      display: none;
    }
    .view-catalog{
      margin-top: 15px;
    }
  }
}
@media (max-width: 350px){
  .advantage__item{
    flex-direction: column;
  }
}
